{% extends 'mailing/base.html' %}
{% block content %}

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Отчеты по рассылкам</h1>
          <p>В этом разделе можно посмотреть историю отправки сообщений.<p>
        </div>
      </div>
      <div class="container">
        {% for object in object_list %}
          <div class="row">
            <div class="col-md-4">
              <h2>Время отправки: "{{ object.last_time }}"</h2>
              {% if object.status %}
                  <p>Статус: успешно</p>
              {% else %}
                  <p>Статус: не отправлено</p>
              {% endif %}
            </div>
          </div>
          <hr>
        {% endfor %}
      </div> <!-- /container -->

{% endblock %}
