{% extends 'mailing/base.html' %}
{% block content %}

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Отчеты по рассылкам</h1>
          <p>В этом разделе можно посмотреть историю отправки сообщений.<p>
        </div>
      </div>
      <div class="container">
        {% for object in object_list %}
          <div class="row">
            <div class="col-md-4">
              <h2>Название: "{{ object.lust_time }}"</h2>
              <p>Время отправки: {{ object.status }}</p>
              <p>Периодичность: {{ object.comment }}</p>
              <p>Периодичность: {{ object.massage }}</p>

            </div>
          </div>
          <hr>
        {% endfor %}
      </div> <!-- /container -->

{% endblock %}
