{% extends 'mailing/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2>ФИО: "{{ object.name|title }}"</h2>
            <p>Электронная почта: {{ object.email }}</p>
            <p>Комментарий: {{ object.comment }}</p>
            <hr>

            <p>Подписки:</p>
              {% for mailin in object.mailin.all %}
                <p>{{ mailin }}</p>
              {% endfor %}
          </div>
        </div>
        <hr>

        <p><a class="btn btn-secondary" href="{% url 'mailing:update_client' object.pk %}" role="button">Изменить &raquo;</a></p>

    </div>

{% endblock %}
