{% extends 'mailing/base.html' %}
{% block content %}
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Рассылка "{{object.name}}"</h1>
          <p>В этом разделе вы можете посмотреть детали рассылки и добавить клиентов или перейти к редактированию.<p>
          <a class="btn btn-primary btn-lg" href="create_mailing" role="button">Редактировать &raquo;</a></p>
        </div>
      </div>

      <div class="container">
        {% include 'includs/inc_mailin.html' %}

          <p>Сообщения:<p>
          {% for message in object.message.all %}
            <p>{{ message }}<p>
          {% endfor %}
        <hr>

          <p>Клиенты:<p>
          {% for client in list_clients %}
            <p>- {{client.name}} ({{client.email}})<p>
            <p><a class="btn btn-secondary" href="{% url 'mailing:detail_client' client.pk %}" role="button">Подробнее &raquo;</a></p>


          {% endfor %}
        <hr>
        <p><a class="btn btn-secondary" href="{% url 'mailing:update_mailing' object.slug %}" role="button">Изменить &raquo;</a></p>
        <a class="btn btn-danger" href="{% url 'mailing:delete_mailing' object.slug %}" role="button">Удалить &raquo;</a>
      </div>


{% endblock %}